<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>

<style>

body{
    font-family: Arial;
    text-align:center;
    padding-top:100px;
}

.sunny{
    background: #FFD54F;
}

.rain{
    background:#64B5F6;
}

.cloud{
    background:#B0BEC5;
}

.night{
    background:#263238;
    color:white;
}

.weather-box{
    background:white;
    padding:30px;
    width:300px;
    margin:auto;
    border-radius:10px;
}

</style>

</head>

<body class="{{weather.background if weather}}">

<h1>🌦 Weather App</h1>

<form method="POST">

<input type="text" name="city" placeholder="Enter City" required>

<button type="submit">Search</button>

</form>

{% if weather %}

<div class="weather-box">

<h2>{{weather.city}}</h2>

<h1>{{weather.icon}}</h1>

<h3>{{weather.temperature}} °C</h3>

<p>{{weather.description}}</p>

<p>Humidity: {{weather.humidity}}%</p>

</div>

{% endif %}

</body>
</html>
