<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<style>
body{
font-family: Arial;
text-align:center;
background: linear-gradient(to right,#4facfe,#00f2fe);
color:white;
padding-top:100px;
}

input{
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
font-size:16px;
}
</style>
</head>

<body>

<h1>🌦 Weather App</h1>

<form method="POST">
<input type="text" name="city" placeholder="Enter city name">
<button type="submit">Search</button>
</form>

{% if weather %}
<h2>{{ weather.city }}</h2>
<p>Temperature: {{ weather.temp }} °C</p>
<p>Condition: {{ weather.desc }}</p>
<p>Humidity: {{ weather.humidity }}%</p>
{% endif %}

</body>
</html>
